.company {
	padding: 10px 10px 0 10px;
}

.companyOperator {
		
}

.companyOperatorImage {
	float: left;
	margin-right: 8px;
	width: 55px;
	height: 55px;
	overflow: hidden;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	text-align: center;
	background-position: center center;
    background-repeat: no-repeat;
}

.companyOperatorInfo {
    color: #727272;
	overflow: hidden;
	font-size: 11px;
	line-height: 15px;
}

.companyOperatorInfo div {
	height: 14px;
	overflow: hidden;
	text-align: left;
}

.companyOperatorInfoName {	
	color:#242426;
	font-weight:bold;
	margin:0px;
	margin-bottom:-2px;
	height:15px !important;
}

.companyOperatorInfoTitle {

}

.companyOperatorInfoDomain {

}

.companyLogo {
	float:right;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	max-width:90px;
}

.companyLogo img {
	display:block;
    max-width:90px;
    max-height:50px;
}

.companyOperatorInfoLang {
	
}

.companyOperatorInfoLang img {
	float:left;
    position: relative;
	margin:-2px 4px 0 0;
	width: inherit;
}.datepickr-wrapper {
    position: relative;
}

.datepickr-calendar {
	font-size: 12px;
	background-color: #eee;
	color: #333;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	display: none;
	position: absolute;
    top: 100%;
	left: 0;
	z-index: 100;
	-webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.open .datepickr-calendar {
    display: block;
    width: 180px;
    top:-200px;
}

.datepickr-calendar .datepickr-sel-date {
	display: inline-block;
	position: relative;
	padding-right: 10px;
	margin-right: 10px;
}

.datepickr-calendar .datepickr-sel-year,
.datepickr-calendar .datepickr-sel-month {
	width: 120%;
	font-size: 11px;
	background-color: transparent;
	border: 0px;
	color: #fff;
	background-color: #fff\9;
	line-height: 15px;
	font-weight: normal;
	height: 18px !important;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	position: relative;
	z-index: 1; 
}

.datepickr-calendar option {
	color:#000;
}

.datepickr-sel-arrow {
	display: inline-block;
	display: none\9;
	background-image:url("../../visitor/events/contact/images/sprite.contact.png");
	background-repeat:no-repeat;
	background-position: -27px -80px;
	width: 7px;
	height: 4px;
	position: absolute;
	right: 0px;
	top: 7px;
	z-index: 0;
}

.datepickr-calendar .datepickr-months {
	background-color: #072667;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	padding: 2px;
	text-align: center;
}

.datepickr-calendar .datepickr-prev-month,
.datepickr-calendar .datepickr-next-month {
	color: #fff;
	text-decoration: none;
	padding: 0 .4em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.datepickr-calendar .datepickr-prev-month {
	float: left;
}

.datepickr-calendar .datepickr-next-month {
	float: right;
}

.datepickr-calendar .datepickr-current-month {
	padding: 0 .5em;
}

.datepickr-calendar .datepickr-prev-month:hover,
.datepickr-calendar .datepickr-next-month:hover {
	background-color: #FFF;
	color: #000;
}

.datepickr-calendar table {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

.datepickr-calendar thead {
    font-size: 11px;
}

.datepickr-calendar th,
.datepickr-calendar td {
    width: 14.3%;
}

.datepickr-calendar th {
	text-align: center;
	font-weight: normal;
    padding: 4px;
}

.datepickr-calendar td {
	text-align: right;
	padding: 1px !important;
}

.datepickr-calendar .datepickr-day {
	display: block;
	color: #848484;
	background-color: #f6f6f6;
	border: 1px solid #d8d8d8;
	padding: 2px;
	cursor: pointer;
}

.datepickr-calendar .datepickr-day:hover {
	color: #545454;
	background-color: #fdf5ce;
	border: 1px solid #fbcb09;
}

.datepickr-calendar .today .datepickr-day {
	background-color: #fff0A5;
	border: 1px solid #fed22f;
	color: #363636;
}

.datepickr-calendar .selected .datepickr-day {
	background-color: #072667;
	color: #fff;
}

.datepickr-calendar .disabled .datepickr-day,
.datepickr-calendar .disabled .datepickr-day:hover {
    background-color: #eee;
    border: 1px dotted #ccc;
    color: #bbb;
    cursor: default;
}@-webkit-keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	font-weight:normal;
	color:#000;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.contact {
	width:100%;
}

.contactSprite {
	background-image:url("../../visitor/events/contact/images/sprite.contact.png");
	background-repeat:no-repeat;
}

.button {
	display: inline-block;
	font-weight:bold;
	cursor:pointer;
	border:0px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: inherit;
	line-height: inherit;
	padding: 6px 10px;
	font-size: 12px;
	font-family: 'Arial';
	background-color: #333333;
	color:#333;
	-moz-transition: all 200ms;
	-webkit-transition: all 200ms;
}

.button:hover {
	color:#FFF;
	background-color: #000000;
}

/**********************************/
/**********   Dialog   ************/
/**********************************/

.dialog {
	padding: 10px;
}

.dialogBox {
	background-color: #3399CC;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	border:1px solid transparent;
}

.dialogBox::before,
.dialogBox::after {
    content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: -12px;
	border: 6px solid transparent;
}

.dialogBox::before {
    border-right-color: transparent;
    top: 6px;
    left: -14px;
    border-width: 7px;
}

.dialogBox::after {
    border-right-color: #3399CC;
    top: 7px;
}

.dialogBoxText {
	padding: 6px;
	color:#FFF;
	font-weight:normal;
	text-align:left;
	font-style: italic;
	font-size: 12px;
    line-height: 14px;
}

.dialogBoxText a{
	color: #fff;
	font-weight: bold;
}

/**********************************/
/***********   Content   *************/
/**********************************/

.content {
	margin: 0px;
	padding: 0px 10px 10px 10px;
	position: relative;
	height: 100%;

}

.content .inner {
	width: 100%;
	height: 100%;
	height: auto\9;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	position:relative;
	border:1px solid #DEDFE2;
    background-color: #f4f4f4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
}

.content .logo {
	background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    top: 5px;
    z-index: 0;
}

.content .logo img {
	width: 100px;
	display: block;             
}

.content form {
	padding: 0px;
	margin: 0px;
	height: 100%;
	/*filter: alpha(Opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.8;*/
}

/**********************************/
/***********   Form   *************/
/**********************************/

.form {
	width:100%;
	height:100%;
}

.form table {
	width: 100%;
	height:100%;
}

.form .formOut {
	
}

.form input[type='text'],
.form textarea,
.form select {
	font-family: 'Arial';
	color: #000000;
    border:0px;
	padding:0px;
	margin: 0px;
	outline: none;
    resize: none;
    width:100%;
    background-color: transparent;
    font-weight: bold;
	font-size: 12px;
    line-height: 14px;
}

.form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F4F4F4 inset;
}

.form .inputOut {
	padding: 3px;
    position: relative;
}

.form label {
	color:#565656;
	font-size: 12px;
	margin:0px;
	padding:0px;
	cursor: inherit;
	font-weight: normal;
	line-height: inherit;
	font-style: italic;
	text-align: left;
	width: 100%;
	display: inline-block;
}

.form .text_header,
.form .text_footer {
	font-size: 11px;
	font-style: normal;
	line-height: 13px;
	color: #414040;
}

.form .text_header {
	padding: 8px 7px 10px 7px;
	border-bottom:1px dashed #e8e8e8 !important;
}

.form .text_footer {
	padding: 8px 7px 0px 7px;
}


/**********************************/
/***********  Inquery   ***********/
/**********************************/

.form .inquery {
	
}

.form .inquery label {
	position:absolute;
	left:5px;
	top:5px;
}

.form .inquery textarea {
	min-height: 90px;
}

/**********************************/
/***********   Inputs *************/
/**********************************/

.form #contactInputs {
	display: none;
}

.form .inpContent {
	border-top: 1px dashed #E8E8E8;
}

.form .inputs {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width:100%;
	height:100%;
}

.form .inputs input[type='text'],
.form .inputs select {
	height: 25px;
}

.form .inputs .inputOut {
	height:100%;
	padding: 5px;
}

.form .inputs tbody:first-child .inputRow:first-child td {
	border-top: 0px;
}

.form .inputRow {
	padding: 0 5px 5px 5px;
	height: 10px;	
}

.form .inputRow .secTitle,
.form .inputRow .secInput {
	border-top: 1px dashed #d6d6d6;
}

.form .inputRow:last-child td {
	border-bottom: 1px dashed #d6d6d6 !important;
}

.form .inputRow .secTitle {
	background-color: #eaebec;
	padding:7px 8px 5px 5px;
	max-width: 250px;
	min-width: 70px;
	position: relative;
}



.form .inputRow .secTitle .help {
	position: absolute;
	top: 4px;
	padding:3px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: help;
	background-color: #FFF4CA;
  	border: 1px solid #FCCAAB;
  	right:8px;
}

.form .inputRow .secTitle .help:hover {
	background-color: #F9DFB0;
}

.form .inputRow .secTitle .help .icon {
	background-position: -44px -43px;
	width: 7px;
	height: 9px;
}

.form .inputRow .secInput {
	position: relative;
	padding: 1px;
}

.form .inputRow input[type='text'] {
	text-indent: 5px;
	position: relative;
	z-index: 1;
}

.form .inputRow textarea {
	position: relative;
	padding-top:5px;
	min-height:50px;
	height: 100%;
}

.form .inputRow .secInput .textAreaOut {
	padding:0 0 0 5px;
}

.form .inputRow .textAreaOut {
	padding: 5px;
}

.form .inputRow .secInput label {
	font-size: 11px;
	color:#BBBBBB;
	position:absolute;
	left:0px;
	top:0px;
	line-height: 25px;
	padding-left: 5px;
	z-index:1;
	width:100%;
}

.form .inputRow .ico {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding:3px;
	z-index: 0;
}

.form .inputRow .ico_date {
	background-position: -93px 0px;
	width: 17px;
	height: 17px;
}

.form .inpOptions {
	line-height: 24px;
}

.form .inpOptions .op {
	display: inline-block;
	margin-right: 8px;
}

.form .inpOptions input[type='radio'],
.form .inpOptions input[type='checkbox'] {
	margin: 6px 3px 0 5px;
	float: left;
}

.form .inpDate {
	position: relative;
}


/**********************************/
/***********  Submit  *************/
/**********************************/

.form .submit {
	padding: 2px;
}

.form .submit .sec_privacy {
	padding: 5px;
	visibility: hidden;
}

.form .submit .sec_privacy a {
	color:#A6A6A6;
	font-size: 9px;
	line-height: 9px;
	padding: 3px 0;
	cursor:pointer;
	text-decoration: none;
	font-weight: normal;
}

.form .submit .sec_button {
	text-align: right;
	padding: 6px 6px 6px 0;
}

/**********************************/
/***********   Contacts ***********/
/**********************************/

.contacts {
	padding: 0px 10px 10px 10px;
}

.contacts .inner {
	background-color: #eaebec;
	border:1px solid #dedfe2;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}	

.contacts td {
	padding: 3px;
	text-align: center;
	width: 33%;
}

.contacts a {
	text-decoration: none;
}

.contacts .option {
	padding:2px 4px;
	color:#3E3E40;
	font-size: 11px;
	text-align: center;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

.contacts .option:hover {
	background-color:#C4C9D2;
	color:#000;
}

.contacts .ico {
	display: inline-block;
	margin:0px 4px -4px 0;
}

.contacts .icoEmail {
	background-position: -101px -26px;
	width: 17px;
	height: 15px;
}

.contacts .icoChat {
	background-position: -83px -26px;
	width: 16px;
	height: 15px;
}

.contacts .icoPhone {
	background-position: -44px -26px;
	width:15px;
	height: 15px;
}

.contacts .icoCallback {
	background-position: -61px -26px;
	width: 20px;
	height: 15px;
}

.contacts .icoSkype {
	background-position: -27px -26px;
	width:15px;
	height: 15px;
}

#contactErr {
	position: absolute;
	display: none;
	border: 1px solid #FCCAAB;
	background-color: #FFF4CA;
	padding:6px 8px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size:11px;
	line-height: 14px;
	-webkit-box-shadow: 2px 2px 3px 0px #cccccc;
	box-shadow: 2px 2px 3px 0px #cccccc;
	max-width:230px;
	color:#000000;
	z-index: 3;
}

#contactErr .arrow {
	background-position: -27px -43px;
	width:11px;
	height:11px;
	position: absolute;
	left:-4px;
	bottom:-4px;
}

/**********************************/
/*********** Format 1   ***********/
/**********************************/

.contact_f1 {
	min-width:315px;
}

/**********************************/
/*********** Format 2   ***********/
/**********************************/

.contact_f2 {
	width: 300px;
}

.contact_f2 .company .companyOperatorImage img {
	height: 40px;
}

.contact_f2 .companyOperatorInfo div {
	line-height: 10px;
	height: 10px;
	font-size: 10px;
}

.contact_f2 .companyOperatorInfoLang img {
	height: 16px;
}

.contact_f2 .companyLogo img {
	max-width: 60px;
	max-height: 40px;
}

.contact_f2 .dialogBoxText {
	font-size: 11px;
	line-height: 12px;
	font-style: normal;
	padding:5px;
}

.contact_f2 .form .inquery textarea {
	min-height: 50px;
}

.contact_f2 .form .inquery label {
	font-size: 11px;
	left: 3px;
	top: 3px;
}

.contact_f2 .form .inputOut {
	padding: 3px;
}

.contact_f2 .submit,
.contact_f2 .contacts {
	display: none;
}

/**********************************/
/*********** Expanded    **********/
/**********************************/

.expanded .content .logo {
	display: none;
}

.expanded .content form {
	filter: alpha(Opacity=100);
	opacity: 1;
	-moz-opacity: 1;
}

.expanded .form .inputs .inputOut {
	height: inherit;
}

.expanded .form .inputs .inputOut textarea {
	/*min-width: 400px !important;*/
	min-height: 100px;
}

.expanded .form .submit .sec_privacy {
	visibility: visible;
}

/**********************************/
/*********** Contact C1   *********/
/**********************************/

.c1 .form .inputRow .secInput {
	background-color: #FFFFFF;
}

.c1 .form .inputRow .secTitle {
	background-color: #E2F1FA;
	border-color: #AFD7EF !important;
}

.c1 .form .inputRow .secTitle label {
	color: rgb(43, 75, 128);
}body {
	
}