@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

#divFooter {	
	position: relative;
	top: -10px;
	height: 28px;
	
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	font-size: 18px;
    cursor: pointer;
}

#paginaAnterior, #volver{	
	margin-left: 36px;
}

#paginaPosterior {
	position: absolute;
	right: 36px;
}
